{{ define "main" }}

<h1>Cyber Essentials+<span class="yellow-dot">.</span></h1>

<h2>What Is It<span class="white-dot">.</span></h2>
<p>Cyber Essentials+ (CE) is a UK government backed scheme created by the National Cyber Security Centre at GCHQ. It secures against most common internet based cyber-attacks.</p>
<p>Certification to CE+ comes in two stages. First you fill in a self-assessment questionnaire (often called CE or CE basic), then an assessor tests your systems.</p>

<h2>What We Offer<span class="white-dot">.</span></h2>
<p>We are a fully accredited CE+ certification body who will walk you through the process from start to finish. We are:</p>
<ul>
    <li><span class="colour-section">Specialists:</span> Unlike others vendors where CE+ is an extra they often outsource. We are testing experts, its all we do &amp; we do everything in house.</li>
    <li><span class="colour-section">Qualified:</span> Our testing is only done by lead assessors who hold advanced pentesting qualifications.</li>
    <li><span class="colour-section">Partners:</span> We don't just test you. We identify problems early &amp; find solutions to help you pass.</li>
</ul>
<p>We never promise a client they will pass. But we have a 100% CE+ client pass rate.</p>
<p>That's because we promise to work with you for as long as it takes to help you pass.</p>

<h2>Simple Fixed Pricing<span class="white-dot">.</span></h2>
<p>We we guarantee:</p>
<ul>
    <li>Fixed prices agreed upfront</li>
    <li>No extra fees for services like pretesting or consultancy</li>
    <li>As much of our time as you need to pass at no extra cost</li>
    <li>Self assessment included &amp; charged at the cost we pay: £100s less than going direct.</li>
</ul>

<h2>Self-Assessment Included<span class="white-dot">.</span></h2>
<p>CE self-assessment is a required first step of CE+, but it also can be done on its own to just certify to CE.</p>
<p>Providers often quote CE+ without self-assessment &amp; add it on as an extra. We find this misleading. Its not optional you need self-assessment for CE+.</p>
<p>If you have done self-assessment elsewhere, we can accept that &amp; offer a discount. But because we only charge it at our cost, you'll get the best value doing it with us.</p>

<h2>Average Pricing<span class="white-dot">.</span></h2>
<p>Pricing depends on your size and complexity. But on average our clients pay (ex VAT):</p>
<ul>
    <li>Micro: £1,200-£2,000 (1-9 Employees)</li>
    <li>Small: £2,000-£2,500 (10-49 Employees)</li>
    <li>Medium: £2,500-£3,000 (50-249 Employees)</li>
    <li>Large: £3,000+ (250+ Employees)</li>
</ul>

<h2>Get A Quote<span class="white-dot">.</span></h2>
<p>Call <a href="tel:+447786003999" class="dotted-link">07786003999</a> or email <a href="mailto:info@cybersmith.co.uk" class="dotted-link">info@cybersmith.co.uk</a> us for a quote.</p>

{{ end }}
