{{ define "main" }}

<h1>Cyber Assurance<span class="yellow-dot">.</span></h1>

<h2>What Is It<span class="white-dot">.</span></h2>
<p>Cyber Assurance (CA) a scheme run by <a href="https://iasme.co.uk/iasme-cyber-assurance/" class="dotted-link">IASME</a>, the body that also runs Cyber Essentials (CE). It builds on CE to further secure your systems from a wider range of attacks.</p>
<p>Just like CE it comes in two stages. First you fill in a self-assessment questionnaire, then an assessor tests your systems.</p>

<h2>What We Offer<span class="white-dot">.</span></h2>
<p>We are a fully accredited CA certification body who will walk you through the process from start to finish. We are:</p>
<ul>
    <li><span class="colour-section">Specialists:</span> We are testing experts, its all we do &amp; we do everything in house.</li>
    <li><span class="colour-section">Qualified:</span> Our testing is done by a former IT Director who holds advanced pentesting qualifications.</li>
    <li><span class="colour-section">Partners:</span> We don't just test you. We identify problems early &amp; find solutions to help you pass.</li>
</ul>
<p>We never promise a client they will pass. But we have a 100% CA client pass rate.</p>
<p>That's because we promise to work with you for as long as it takes to help you pass.</p>

<h2>Simple Fixed Pricing<span class="white-dot">.</span></h2>
<p>We we guarantee:</p>
<ul>
    <li>Fixed prices agreed upfront</li>
    <li>No extra fees for services like pretesting or consultancy</li>
    <li>As much of our time as you need to pass at no extra cost</li>
</ul>

<h2>Average Pricing<span class="white-dot">.</span></h2>
<p>Pricing for CA depends on your size &amp; complexity.</p>
<p>It is generally bundled with Cyber Essentials &amp; on average we find CA costs between £1,200 & £3,000 on top of CE.</p>

<h2>Get A Quote<span class="white-dot">.</span></h2>
<p>Call <a href="tel:+447786003999" class="dotted-link">07786003999</a> or email <a href="mailto:info@cybersmith.co.uk" class="dotted-link">info@cybersmith.co.uk</a> us for a quote.</p>

{{ end }}
