{{ define "main" }}
<h1>The Services We Offer<span class="yellow-dot">.</span></h1>

<div class="service">
    <h2>Cybersecurity Program<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/cybersecurity-program.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Cybersecurity Program Icon" />
    <p>We help you design and build security programs tailored to the needs of your organisation.</p>
    <p>Working across the full range of cybersecurity areas, we are able to do both focused projects on a specific issue through to implementing a full security program.</p>
</div>

<div class="service">
    <h2>Penetration Testing<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/penetration-test.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Penetration Test Icon" />
    <p>Our technical tests are performed by CREST Registered Penetration Testers (CRT).</p>
    <p>We are able to provide both infrastructure and web application testing, with our testers having over 10 years experience in both IT and web development.</p>
</div>

<div class="service">
    <h2>Data Protection<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/data-protection.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Data Protection Icon" />
    <p>Giving you the full picture of what data you hold and how you can best protect it.</p>
    <p>We deliver you a compliant and effective data protection program that works for your business.</p>
</div>

<div class="service">
    <h2>Certification<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/certification.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Certification Icon" />
    <p>Fully qualified as a Cyber Essentials Plus Assessor, IASME CE Assessor and BSI ISO 27001 Lead Auditor.</p>
    <p>We can guide you through the full cybersecurity certification journey from the entry level Cyber Essentials to the internationally respected ISO 27001.</p>
</div>

<div class="service">
    <h2>Management Software<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/shield.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Shield Icon" />
    <p>For our customers who want a full web based cybersecurity management platform we provide our in house developed Shield system.</p>
    <p>Shield is currently in beta testing with a planned public release of Q4 2023, it gives our customers a system to help guide and structure their security program.</p>
</div>

{{ end }}
