{{ define "main" }}
<h1>Services<span class="yellow-dot">.</span></h1>

<a class="service" href="/services/web-application-pentesting">
    <h2>Web Application Pentesting<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/generic/web.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Penetration Test Icon" />
    <p><span class="service-tagline">Supporting Your Developers:</span> Senior web developer with 15 years experience. We not only test your software, we guide your team to improve it.</p>
</a>

<a class="service" href="/services/infrastructure-pentesting">
    <h2>Infrastructure Pentesting<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/generic/infrastructure.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Penetration Test Icon" />
    <p><span class="service-tagline">Securing Your Foundations:</span> Technology leader whose built infrastructure from the ground up. We understand the practicalities of securing an IT department, because we ran one for over a decade.</p>
</a>

<a class="service" href="/services/due-diligence-audits">
    <h2>Due Diligence Audits<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/generic/magnifying-glass.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Shield Icon" />
    <p><span class="service-tagline">Accurate Timely Auditing:</span> Financial services professional with experience in due diligence on all sides. We are a trusted partner for M&amp;A &amp; private equity who understands the process.</p>
</a>

<a class="service" href="/services/cyber-essentials-plus">
    <h2>Cyber Essentials+<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/generic/cert-ce-plus.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Certification Icon" />
    <p><span class="service-tagline">Baseline For Cybersecurity:</span> Fully accredited certifying body who does everything in house. We guide you through the Cyber Essentials+ from start to finish.</p>
</a>

<a class="service" href="/services/cyber-assurance">
    <h2>Cyber Assurance<span class="white-dot">.</span></h2>
    {{ $svg := resources.Get "img/icons/generic/cert-ca.svg" | minify }}
    <img class="service-icon" src="{{ $svg.RelPermalink }}" alt="Certification Icon" />
    <p><span class="service-tagline">Building Your Cybersecurity:</span> Hands-on former IT Director &amp; Chief Information Officer. We help you build on Cyber Essentials to improve your security further with Cyber Assurance.</p>
</a>

{{ end }}
