{{ define "main" }}

<article>
    <h1>Policy<span class="yellow-dot">.</span></h2>
    <p>Here you will find links to all our company's public policies. If you are performing an audit on us, we also have non-public policies that we are able to share with you.</p>

    <h2>Privacy Policy<span class="white-dot">.</span></h3>
    <p><a href="/policy/privacy">Click here to find out how we protect your data.</a></p>
    
    <h2>Disclosure Policy<span class="white-dot">.</span></h3>
    <p><a href="/policy/disclosure">Click here to find out how to make a security disclosure to us.</a></p>
</article>

{{ end }}
