{{ define "main" }}

<article>
    <h1>Quality Policy<span class="yellow-dot">.</span></h2>
    <p>This policy relates to Cybersmith Ltd, registered company 14118194. Throughout this policy Cybersmith Ltd will be referred to as Cybersmith.</p>
    <p>This document is a simple description of our quality management, it does not replace and is secondary to all contracts we may have with your organisation.</p>

    <h2>Introduction<span class="white-dot">.</span></h2>
    <p>Cybersmith's aim is to provide a professional service to meet the requirements of all customers. Through a continuing review of Cybersmith's practices, we will provide an effective service to our customers and ensure the long-term profitability of the business.</p>

    <h2>People<span class="white-dot">.</span></h2>
    <p>As an SME, responsibility for establishing, maintaining, implementing and improving the quality systems lies across all employees. The person responsible and accountable for quality is the Jonathon Smith the Managing Director.</p>
    <p>We ensure all staff have a full understanding of our quality management system by involving the whole organisation in reviews of the policy.</p>

    <h2>Suppliers<span class="white-dot">.</span></h2>
    <p>Cybersmith also ensure that all suppliers we use also meet the same high-quality standards. We achieve this by incorporating it as part of our supplier due diligence process which places suppliers into categories of high, medium and low.</p>
    <p>We require an SLA or terms of service from all suppliers of high importance. We also require an uptime of at least 99% from all high value suppliers.</p>

    <h2>Continual Improvement<span class="white-dot">.</span></h2>
    <p>We maintain a policy of continual improvement and set quality objectives in line with the framework laid down within ISO 9001:2015.  As part of our continual improvement, Cybersmith openly welcomes feedback from all customers including suppliers and other interested parties.</p>

    <h2>Complaints<span class="white-dot">.</span></h2>
    <p>We operate a plan-test-act-test change management process:</p>
    <ul>
        <li>All changes must first be planned.</li>
        <li>Test the changes on a small scale.</li>
        <li>Implement the changes.</li>
        <li>Test the implementation.</li>
    </ul>

    <h2>Complaints<span class="white-dot">.</span></h2>
    <p>We operate a robust complaints process, and should any customers have a complaint, the details can be forwarded to: <a href="mailto:complaint@cybersmith.co.uk">complaint@cybersmith.co.uk</a>.</p>
    
    <h2>Review<span class="white-dot">.</span></h2>
    <p>As an SME, responsibility for establishing, maintaining, implementing and improving the quality systems lies across all IASME employees. The person responsible and accountable for quality is the Jonathon Smith the Managing Director.</p>
</article>

{{ end }}
