:root {
    --dark-blue: #002147;
    --light-yellow: #F59F00;
    --krona-one: krona-one, Arial Black, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: krona-one;
    src: url(../fonts/krona-one.ttf) format("truetype");
    font-display: swap;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-blue);
}

#cybersmith-logo {
    margin: 10px 5%;
    max-width: 400px;
}

#cybersmith,
#coming-soon {
    font-family: var(--krona-one);
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

    #cybersmith {
        font-size: 2.5em;
    }

    #coming-soon {
        font-size: 2em;
    }

.yellow-fullstop {
    color: var(--light-yellow);
}
