:root {
    --dark-blue: #002147;
    --dark-yellow: #945F00;
    --light-yellow: #F59F00;
    --krona-one: krona-one, Arial Black, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: krona-one;
    src: url(../fonts/krona-one.ttf) format("truetype");
    font-display: swap;
}

a {
    text-decoration: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--dark-blue);
}

@media (max-width: 1023px) {

}

@media (min-width: 1024px) {

}
