main {
    padding: 0 1% 1% 1%;
}

main h1 {
    font-family: var(--arial-black);
}

main h2, main h3 {
    color:var(--dark-blue);
    font-family: var(--arial-black);
}

main p, main ul {
    margin: 0;
}

.panel {
    background: var(--background-gray);
    color: black;
    font-family: var(--arial);
    border: 1px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

#tagline {
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--arial);
    font-weight: bold;
    padding: 0;
    color: white;
}

.contact-info {
    display: flex;
    margin-top: 10px;
    font-family: var(--arial);
}

    .contact-info a {
        color: white;
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

        .contact-info a:hover {
            text-decoration: underline;
        }

        #contact-info-second-page {
            display: none;
        }

#achievements-skills {
    margin-bottom: 10px;
}

    #achievements-skills h2 {
        text-align: center;
        border-bottom: 1px solid black;
        margin: 0 5px;
    }

    #achievements-skills ul {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom:10px;
    }

    #achievements-skills .skill-name {
        font: var(--arial-black);
        font-weight: bold;
    }

#personal-summary {
    padding: 5px 10px 10px;
    margin-bottom: 10px;
}

    #personal-summary h2 {
        text-align: center;
        border-bottom: 1px solid black;
        margin: 0;
    }

    #personal-summary p {
        margin-top: 5px;
        text-align: center;
    }

        #personal-summary p:first-child {
            margin-top: 10px;
        }

#tech-experience {
    padding: 0 5px 5px 5px;
    margin-bottom: 10px;
}

    #tech-experience h2{
        text-align: center;
        border-bottom: 1px solid black;
        margin: 0;
    }

    .tech-sector h3 {
        text-align: center;
        border-bottom: 1px dashed black;
        margin: 0 5px;
    }

    .tech-logos {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

        .tech-logos li {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
        }

        .tech-logos a {
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all .1s ease-in-out;
            font-style: italic;
            color: black;
        }

            .tech-logos a:hover {
                transform: scale(1.2); 
            }

            .tech-logos a img {
                max-width: 40px;
                max-height: 40px;
                margin-bottom: 2px;
            }

#qualifications {
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
}

    #qualifications h2 {
        text-align: center;
        border-bottom: 1px solid black;
        margin: 0 5px;
    }

    #qualifications-intro {
        margin-top: 10px;
        text-align: center;
    }

    .qualification-areas {
        margin-bottom: 10px;
    }

        .qualification-areas h3 {
            margin: 0 5px;
        }

        .qualification-areas a {
            color: black;
            display: flex;
            flex-wrap: wrap;
        }

        .qualification-areas a:hover {
            text-decoration: underline;
        }

        .qualification-name-abbr {
            font-weight: bold;
        }

        .qualification-name {
            flex-grow: 1;
        }

        .qualification-areas sup {
            line-height: 0;
        }

.employment-panel {
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 10px 10px 10px;
}

    .employment-panel h2{
        margin: 0;
    }
    
    .employer-and-time {
        display: block;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 5px 0;
        margin: 5px 0;
        color: black;
    }

        .employer-and-time:hover {
            text-decoration: underline;
        }

        .employer-name {
            font-weight: bold;
        }

        .employment-time,
        .employment-duration {
            font-style: italic;
        }

        .employment-description p {
            margin-bottom: 10px;
        }

            .employment-description p:last-child {
                margin-bottom: 0;
            }

        .employment-description li {
            margin-bottom: 5px;
        }

            .employment-skill {
                color: var(--dark-blue);
                font-family: var(--arial-black);
                font-size: 1.1rem;
            }

@media screen and (max-width: 1023px) {
    main h1 {
        margin: 0 20px 10px;
    }

    #download-pdf {
        position: absolute;
        top: 1%;
        left: 2%;
    }
    
        #download-pdf-img {
            height: 40px;
        }

    .contact-info {
        flex-direction: column;
        margin-top: 0;
    }

        .contact-info .location {
            display: none;
        }

    #personal-summary p {
        text-align: left;
    }

    #achievements-skills section {
        margin-top: 10px;
    }

    .tech-sector {
        border-bottom: 1px solid black;
    }

        .tech-sector:last-child {
            border-bottom: none;
        }

        .tech-logos li.tech-sector-name {
            border: 1px dashed black;
            border-radius: 10px;
            justify-content: center;
        }
        
        .tech-logos li {
            width: 50%;
        }

    #qualifications-intro {
        text-align: left;
    }

    .qualification-name-abbr {
        margin-right: 5px;
    }

    .qualification-body::before {
        content: ' - ';
    }

    .qualification-name {
        width: 100%;
    }

    .employment-panel h2 {
        text-align: center;
    }

    .employer-and-time {
        justify-content: space-around;
        flex-direction: row-reverse;
        text-align: center;
    }

        .employment-duration {
            display: block;
        }
}

@media screen and (min-width: 1024px) {
    main {
        position: relative;
    }

    #download-pdf {
        position: absolute;
        top: 0;
    }

        #download-pdf-img {
            height: 3rem;
            margin: 5px 0;
        }
        
    #achievements-skills {
        display: flex;
        margin-top: 10px;
    }

        #achievements-skills section {
            flex-grow: 1;
            flex-basis: 0;
            margin-right: 10px;
        }

        #achievements-skills section:last-child {
            margin-right: 0;
        }

    #tech-sectors {
        display: flex;
    }

        .tech-sector {
            flex-grow: 1;
            flex-basis: 0;
            border-right: 1px solid black;
        }

            .tech-sector:last-child {
                border-right: none;
            }

            .tech-logos li {
                width: 50%;
            }

    .qualification-name-abbr {
        width: 8%;
    }

    .qualification-body {
        width: 8%;
    }
}

@media print {
    body {
        background: white;
        font-size: 14px;
    }

    #download-pdf,
    header,
    footer {
        display: none;
    }

    main h1 {
        color: black;
        border: none;
    }

    #tagline {
        color: #ababab;
    }

    .panel {
        background: white;
        border: none;
    }

        .panel h2 {
            border-top: 1px solid black;
        }

    .contact-info {
        margin-bottom: 10px;
    }

        .contact-info a {
            color: #ababab;
        }

        #contact-info-second-page {
            display: flex;
        }

    #tech-sectors {
        display: flex;
    }

        .tech-sector {
            flex-grow: 1;
            flex-basis: 0;
            border-right: 1px solid black;
        }
            
            .tech-sector:last-child {
                border-right: none;
            }
        
            .tech-logos li {
                width: 100%;
            }
            
            .tech-logos li a {
                flex-direction: row;
                justify-content: flex-start;
            }
            
            .tech-logos li a img {
                margin: 0 5px;
                height: 1rem;
            }

    #achievements-skills {
        margin: 0;
    }

    .qualification-name-abbr {
        width: 10%;
    }

    .qualification-body {
        width: 15%;
    }

    .employment-panel {
        margin-top: 0;
    }

        .employer-and-time {
            border-top-style: dashed;
            border-bottom-style: dashed;
        }

        .employment-duration {
            display: inline;
        }
    
    #personal-summary {
        margin: 0;
    }

    #qualifications {
        break-after: page;
        margin: 0;
    }
}
