#name-callout h1 {
    font-family: var(--spantaran);
    color: var(--dark-red);
    padding: 0;
    margin: 0;
    text-shadow: 0 2px 5px black;
}

#name-callout ul {
    font-size: 1.6em;
    font-family: var(--arial-black);
    font-style: italic;
    color:white;
    padding: 0;
    margin: 0;
    list-style: none;
}

#description-callout {
    color: white;
    font-family: var(--arial);
    font-size: 1.2em;
}

    #technology-leader,
    #description-callout dfn {
        color: var(--dark-red);
        font-family: var(--spantaran);
        font-style: normal;
        text-shadow: 0 2px 5px black;
    }
    
        #technology-leader {
            font-size: 1.5em;
        }
    
        #description-callout dfn {
            font-size: 1.2em;
        }
        
        #description-callout a {
            white-space: nowrap;
            color: white;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

            #description-callout a:hover {
                color: var(--dark-red);
            }
        
        hr.faded-white-line {
            margin:0;
            padding: 0;
            border: none;
            border-bottom: 2px solid var(--background-black);
            border-image: linear-gradient(to left, var(--background-black) 1%, white) 1 stretch;  
        }

        #ipa-definition {
            font-style: italic;
        }

@media (max-width: 1023px) {
    main {
        padding: 0 10px 10px 10px;
        text-align: center;
    }

    #name-callout {
        padding-top: 40px;
    }

        #name-callout h1 {
            font-size: 2.5em;
        }

        #name-callout ul {
            font-size: 1.2em;
        }

        #technology-leader {
            display: block;
        }
}

@media (min-width: 1024px) {
    main {
        position: fixed;
    }

    #name-callout {
        position: fixed;
        left: 5%;
        bottom: 15%;
    }

        #name-callout h1 {
            font-size: 3.5em;
        }

        #name-callout ul {
            font-size: 1.6em;
        }

    #crash-dive {
        position: fixed;
        width: 100%;
        max-height: 100%;
        padding: 1%;
        box-sizing: border-box;
        z-index: -1;
    }

    #description-callout {
        position: fixed;
        right: 2%;
        top: 10%;
        width: 40%;
        font-size: 1.2em;
    }
}
