
h2 {
    padding: 0 0 2px 0;
    margin: 0;
    font-size: 1.2rem;
    color: var(--light-yellow);
}

main p {
    margin: 0 0 10px;
}

main a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: var(--light-yellow);
}

main address {
    font-style: normal;
    padding-left: 20px;
}
