main h2 {
    margin: 0;
    color: var(--light-yellow);
    font-size: 1.2rem;
}
 main p, main ul {
    margin: 0 0 10px 0;
 }

.colour-section {
    color: var(--light-yellow);
}

.bold-section {
    font-weight: bold;
}