main {
    display: grid;
    align-items: center;
}

article {
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

article h2 {
    margin: 10px 0 0;
    color: var(--light-yellow);
}

article p {
    margin: 0 0 15px;
}

#coming-june-2023 {
    font-style: italic;
}