{{ define "main" }}

<article>
    <h1>About Us &amp; Our History<span class="yellow-dot">.</span></h1>
    <div id="article-content">
        <figure id="photo-jonathon-smith">
            {{ $photo := resources.Get "img/photos/jonathon-smith.png" }}
            <img src="{{ $photo.RelPermalink }}" alt="Photo of Jonathon Smith" />
            <figcaption><span id="photo-caption-founder">Founder:</span> Jonathon Smith</figcaption>
        </figure>
        
        <div id="article-text">
            <h2>Where We Come From<span class="white-dot">.</span></h2>
            <p>Cybersmith was created in 2021 out of the experiences of our founder Jonathon Smith.</p>
            <p>After over a decade working in senior IT and cybersecurity positions, he heard many organisations say:</p>
            <ul>
                <li>"Security is too expensive or complex for us"</li>
                <li>"Security gets in the way of what we do"</li>
                <li>"Security programs are too rigid and do not work for us"</li>
            </ul>
        
            <h2>What We Do<span class="white-dot">.</span></h2>
            <p>We aim to fix this by working in partnership with you to understand what makes you unique. We help you build a security program that reflects the needs of your organisation.</p>
            <p>This can range from plugging small holes through to building an entire program from scratch.</p>
        
            <h2>How We Do It<span class="white-dot">.</span></h2>
            <p>Our services are built on 3 main pillars:</p>
            <ul>
                <li><span class="pillar-titles">Tailored For You:</span> What works for a large national organisation may not work for a small local business, we work with you to understand your needs so that we can build something that is appropriate for you.</li>
                <li><span class="pillar-titles">Experience:</span> With over a decade in the field there we can draw on a huge range of experiences to stop you making the same mistakes others have.</li>
                <li><span class="pillar-titles">Qualified:</span> Accreditations from multiple leading industry bodies means you can be confident in our work.</li>
            </ul>
            
            <h2>Where We Do It<span class="white-dot">.</span></h2>
            <p>Centrally located in Kettering, Northamptonshire our services are open to organisations of all sizes throughout the UK.</p>
        </div>
    </div>
</article>

{{ end }}
