{{ define "main" }}

<article>
    <h1>Privacy Policy<span class="yellow-dot">.</span></h2>
    <p>This is the privacy policy for Cybersmith Ltd and describes the personal data we process.</p>
    <p>This document is a simple description of our activities, it does not replace and is secondary to all contracts we may have with your organisation.</p>
    <p>If you wish to contact us regarding a privacy matter please see our <a href="/contact">contact</a> page.</p>
    
    <h2>The Data We Process<span class="white-dot">.</span></h3>
    <p>As a business to business organisation we do not collect data from members of the general public.</p>
    <p>If you are a customer the data we process and how it is stored will be included in the contract we have with you.</p>
    <p>If you are a potential customer we electronically store your information for marketing and quoting purposes.</p>

    <h2>Our Lawful Basis For Data Processing<span class="white-dot">.</span></h3>
    <p>The data we process for our customers is done to meet a contractual obligation to provide them with services.</p>
    <p>The data we process for our potential customers is done with either that customer's consent or as part of our legitimate interest to market to other businesses.</p>

    <h2>How To Complain<span class="white-dot">.</span></h3>
    <p>If you have any concerns about our use of your personal information, you can make a complaint to us at <a href="mailto:info@cybersmith.co.uk">info@cybersmith.co.uk</a>.</p>
    <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>
    <p>The ICO's address:</p>
    <p>Information Commissioner's Office</p>
    <address>
        <p>Wycliffe House</p>
        <p>Water Lane</p>
        <p>Wilmslow</p>
        <p>Cheshire</p>
        <p>SK9 5AF</p>
    </address>

    <p>Helpline number: <a href="tel:+443031231113">0303 123 1113</a></p>
    <p>ICO website: <a href="https://www.ico.org.uk">https://www.ico.org.uk</a></p>
</article>

{{ end }}
