{{ define "main" }}

<div id="introduction-text">
    <h1>Forging Your Security<span class="yellow-dot">.</span></h1>
    <ul>
        <li>
            <p>Specialists in technical cybersecurity auditing such as: Penetration Testing, Due Dilgence Audits &amp; Cyber Essentials+ Certification.</p>
        </li>
        <li>
            <p>Call us on <a href="tel:+447786003999">07786003999</a> or email us at <a href="mailto:info@cybersmith.co.uk" class="dotted-link">info@cybersmith.co.uk</a> for a free quote.</p>
        </li>
        <li>
            <p>See our <a href="/about" class="dotted-link">about</a>, <a href="/services" class="dotted-link">services</a> and <a href="/contact" class="dotted-link">contact</a> pages for more info.</p>
        </li>
    </ul>
</div>

{{ $svg := resources.Get "img/brand/cybersmith-logo-no-background.svg" | minify }}
<img id="introduction-img" src="{{ $svg.RelPermalink }}" alt="Cybersmith anvil logo" />


{{ end }}
