{{ define "main" }}

<div id="email">
    <h2>Email</h2>
    <a href="mailto:info@cybersmith.co.uk">info@cybersmith.co.uk</a>
    <p>&nbsp;</p>
</div>

<div id="phone">
    <h2>Phone</h2>
    <a href="tel:+447786003999">07786003999</a>
    <p>&nbsp;</p>
</div>

<div id="address">
    <h2>Address</h2>
    <address>
        <p>31 Deeble Road, Kettering</p>
        <p>NN15 7AB</p>
    </address>
</div>

<div id="companies-house">
    <h2>Company Info</h2>
    <p>Reg In England and Wales</p>
    <p>Company Number: 14118194</p>
</div>

{{ end }}
